---
# -------------------- DOCKER CONTAINERS PER HOST --------------------
- name: Deploy containers
  hosts: all:!bastion
  become: yes
  vars:
    containers_per_host:
      db:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - "5432:5432"
        volumes:
          - /var/lib/postgresql/data:/var/lib/postgresql/data
      redis:
        image: redis:alpine
        ports:
          - "6379:6379"
      worker:
        image: scolas3/worker:latest
        env:
          REDIS_HOST: redis
          DB_HOST: db
          DB_USERNAME: postgres
          DB_PASSWORD: postgres
          DB_NAME: postgres
        extra_hosts:
          - "redis:{{ hostvars['redis']['ansible_host'] }}"
          - "db:{{ hostvars['db']['ansible_host'] }}"
      vote:
        image: scolas3/vote:latest
        env:
          REDIS_HOST: "{{ hostvars['redis']['ansible_host'] }}"
        ports:
          - "8080:80"
      result:
        image: scolas3/result:latest
        env:
          DB_HOST: db
          DB_USERNAME: postgres
          DB_PASSWORD: postgres
          DB_NAME: postgres
        extra_hosts:
          - "db:{{ hostvars['db']['ansible_host'] }}"
        ports:
          - "8081:80"

  tasks:

    - name: Ensure host-specific container is running
      ansible.builtin.docker_container:
        name: "{{ inventory_hostname }}"
        image: "{{ containers_per_host[inventory_hostname].image }}"
        state: started
        restart_policy: unless-stopped
        env: "{{ containers_per_host[inventory_hostname].env | default({}) }}"
        ports: "{{ containers_per_host[inventory_hostname].ports | default([]) }}"
        volumes: "{{ containers_per_host[inventory_hostname].volumes | default([]) }}"
        pull: yes
